.block-gallery {
  .header {
    margin-bottom: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 15px 0px;
  }

  .item-container {
    margin-bottom: 30px;
  }

  .gallery-item {
    min-height: 250px;
    display: flex;
    margin-bottom: 5px;
    &:hover{
      .item-caption {
        visibility: visible;
      }
    }

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .item-name {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-weight: 400;

    //font-weight: bold;
    //background-color: #ffffc4;
    //background-color: #65b23a;
    padding: 10px 10px;
    //color: black;
    //color: #ffffff;
  }

  .price-box {
    margin: -54px auto 0 auto;
    //clear: both;
    position: relative;
    text-align: center;
    z-index: 2;

    .old-price {
      color: #000000;
      white-space: nowrap;
      width: 50%;
      text-align: center;
      position: relative;
      font-weight: 700;
      margin-right: 50%;
      font-size: 20px;
      background-color: rgba(255,255,255, 0.5);
      border-radius: 3px;

      span {
        padding: 3px 5px;
      }
      span:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        margin: -1px 0 0 0;
        background: #f90f1d;
        transform: rotate(-10deg);
      }
    }

    .priceBuyBtn {
      margin-left: 0px;
      margin-right: 0px;
      text-decoration: none;
      //clear: both;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      //display: block;
      border: 1px solid #E5212D;
      border-radius: 3px;
      background-color: #ffffff;
      margin-top: 6px;
      .price {
        font-size: 22px;
        padding: 5px 3px;
        text-align: center;
        white-space: nowrap;
        background-color: #E5212D;
        color: white;
        margin: 0px 0px;
        width: 50%;
        position: relative;
        float: left;
      }

      .action {
        font-size: 18px;
        padding: 7px 1px;
        text-align: center;
        white-space: nowrap;
        color:  #E5212D;
        width: 50%;
        position: relative;
        float: left;
      }
    }

  }

  .item-caption {
    display: block;
    visibility: hidden;
    width: 100%;
    font-size: 24px;
    //height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding-top: 33%;
  }

  .filter {
    margin-bottom: 15px;
    &-name {
      padding-top: 10px;
      font-weight: 400;
    }
  }
}

.gallery-show-25{
  background-color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  border: 4px solid #1edb19;
  color: #000000;
  &:hover, &:focus {
    background-color: #f8f8f8;
    color: #000000;
    border-color: #3aff00;
  }
}

.gallery-filter-button {
  color: #000000;
  background-color: #ffe045;
  margin-right: 0px;
  margin-left: 5px;
  .fa-check-square-o {
    display: none;
  }
  .fa-square-o {
    display: inline-block;
  }
  &.filter-active {
    background-color: #1edb19;
    color: #ffffff;
    .fa-check-square-o {
      display: inline-block;
    }
    .fa-square-o {
      display: none;
    }
    &:focus {
      background-color: #1edb19;
    }
  }

  &:hover, &:focus {
    background-color: #e8c83e;
  }

  &.clear {
    border: 1px solid #7d7d7d;
    background-color: #ffffff;
    &:focus {
      color: #000000;
    }
    &:hover {
      color: #000000;
      font-size: 18px;
    }
  }

  &.color {
    padding: 0px 0px;
    min-height: 40px;
    min-width: 40px;
    //font-size: 2px;
    border: 5px solid #f3f3f3;
    &.filter-active {
      min-height: 50px;
      min-width: 50px;
      border-color: #1edb19;
      background-color: inherit;
      &:focus {
        background-color: inherit;
      }
    }
  }
}


.block-simplegallery {
  .item-container {
    margin-bottom: 0px;
    padding: 0px 0px;
  }

  .gallery-item {
    min-height: 250px;
    display: flex;
    &:hover{
      .item-caption {
        visibility: visible;
      }
    }

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .item-name {
    font-weight: bold;
    //background-color: #ffffc4;
    background-color: #65b23a;
    padding: 10px 10px;
    //color: black;
    color: #ffffff;
  }

  .item-caption {
    display: block;
    visibility: hidden;
    width: 100%;
    font-size: 24px;
    //height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding-top: 33%;
  }
}

.gallery-modal {
  .close {
    font-size: 44px;
  }

  .card-close {
    font-size: 24px;
  }

  .info {
    font-size: 16px;
    margin-left: 15px;
  }

  .price {
    font-size: 22px;
    color: #000000;
    #oldprice {
      font-weight: 400;
      text-decoration: line-through;
    }

    #price {
      font-weight: 700;
    }
  }
  .card-price {
    white-space: nowrap;
    padding: 15px 25px;
    display: inline-block;
    text-align: right;
    color: #999999;
    .card-priceOld {
      position: relative;
      display: inline-block;
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;

      span:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        right: 0;
        height: 2px;
        margin: -1px 0 0 0;
        background: #f90f1d;
        transform: rotate(-10deg);
      }
    }
    .card-priceNew {
      padding-top: 24px;
      color: #000000;
      font-size: 48px;
      line-height: 24px;
      font-weight: 700;
      .price-ed {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  .modal-lg {
    //width: 90%;
    //max-width: 990px;
  }

  .modal-dialog {
    //margin: 10px auto;
  }

  .modal-content {
    //width: 100%;
    width: 95%;
    //min-height: 100%;
    border: none;
  }

  .modal-title {
    margin-bottom: 5px;
  }

  .callback-form {
    margin-top: 15px;
    margin-right: 15px;
    background-color: #ffffff;
    border: 5px solid #ffe045;
    padding: 15px 15px;
  }
}