.block-benefits35 {

  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  //color: #7f8c8d;

  .section {

    padding-top: 80px;
    padding-bottom: 80px;
    //min-height: 925px;
    @media (max-width: 767px) {
      min-height: 0;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    background-color: white;
    background-size: cover;
    height: 100%;
    z-index: 10;
  }


  h2 {
    font-size: 35px;
    line-height: 40px;
    color: #2c3e50;
    font-weight: 300;
    margin: 0 0 40px;
  }
  .lead {
    font-size: 20px;
    line-height: 36px;
    margin: 0 0 25px;
  }
  .btn {
    font-weight: 500;
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 20px;
    color: #fff;
    &:hover {
      color: #fff;
    }
    &.btn-inverse {
      background: #2c3e50;
    }
  }
  a {
    color: #2c3e50;
    text-decoration: none;
    border-bottom: 1px solid #abb0b5;
    &:hover {
      color: #64686c;
    }
  }
  .ask-question {
    font-size: 20px;
    display: inline-block;
    line-height: 26px;
  }
  .tech-info {
    color: #7f8c8d;
    padding-top: 80px;
    margin: 0;

    dt,
    dd {
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    dt {
      float: left;
      width: 190px;
    }
    dd {
      display: block;
      overflow: hidden;
      color: #2c3e50;
    }
  }
  .columns {
    margin-top: 50px;
    h3 {
      font-size: 20px;
      color: #34495e;
      line-height: 28px;
      margin: 0 0 20px;
      font-weight: 500;
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 26px;
    }
    a {
      display: block;
      border: none;
    }
    img,
    strong,
    b {
      .transition(0.25s);
    }
    img {
      margin-top: 20px;
      margin-bottom: 45px;
    }
    a:hover img {
      opacity: 0.9;
    }
    b {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
      //letter-spacing: -1px;
      color: #34495e;
      display: inline-block;
      border-bottom: 1px solid #fff;
    }
    h3 {
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 15px;
      //letter-spacing: -1px;
      color: #34495e;
    }
    a:hover strong{
      border-bottom: 1px solid #d5d6d6;
    }
    span {
      font-size: 16px;
      line-height: 26px;
      //color: #7f8c8d;
      display: block;
    }
    span.svgIcon {
      display: inline-block;
      padding-left: 8px;
    }
    @media (max-width: 767px) {
      .col-sm-6:not(:first-child) {
        margin-top: 60px;
      }
    }
  }



  .bg-container {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
  }

  .background {
    //height: 100%;
    //width: 100%;
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-position: center center;
    background-size: cover;
  }

  .section-text() {
    padding: 15px 30px 20px 30px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    h3 {
      margin-top: 60px;
      margin-bottom: 20px;
    }
    //position: relative;
  }

  .price(@align) {
    color: #8ecb60;
    font-size: 28px;
    font-weight: 500;
    text-align: @align;
    width: 100%;
    //position: absolute;
    //bottom: 2px;
    padding: 50px 0px;
  }

  .section-text-right {
    .section-text();
    .price {
      .price(right);
    }
    float: left;
  }

  .section-text-left {
    .section-text();
    .price {
      .price(right);
    }

    float: right;
  }

}