.block-content49 {
  background-color: #f3f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  height: 100%;
  display: block;
  position: relative;

  h1, h2 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .section {
    min-height: 380px;
    //background-color: #ededed;
    background-color: white;
    background-size: cover;
    height: 100%;
    z-index: 10;

    .icon {
      margin-left: 15px;
      width: 45px;
      height: 47px;
      display: inline-block;
      float: left;
      text-align: left;
      color: #4f79cc;
      font-size: 20px;
    }
    .num {
      margin-left: 15px;
      width: 45px;
      height: 47px;
      display: inline-block;
      float: left;
      font-size: 28px;
      font-weight: 500;
      text-align: left;
    }

    .header {
      font-size: 28px;
      font-weight: 500;
      text-align: left;
      margin-bottom: 20px;
    }

    .text {
      text-align: left;
      height: 47px;
      font-weight: 400;
    }
    .content {
      margin-left: 60px;
    }
  }


  .bg-container {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: block;
  }

  .background {
    //height: 100%;
    //width: 100%;
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-position: center center;
    background-size: cover;
  }

  .section-text() {
    padding: 15px 30px 20px 30px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    h3 {
      margin-top: 60px;
      margin-bottom: 20px;
    }
    //position: relative;
  }

  .price(@align) {
    color: #8ecb60;
    font-size: 28px;
    font-weight: 500;
    text-align: @align;
    width: 100%;
    //position: absolute;
    //bottom: 2px;
    padding: 50px 0px;
  }

  .section-text-right {
    .section-text();
    .price {
      .price(right);
    }
    float: left;
  }

  .section-text-left {
    .section-text();
    .price {
      .price(right);
    }

    float: right;
  }

}