.black-theme {
	background: #0D0D0D;
	h1, h2, h3 {
		color: #F3F3F3;
	}

	h4, h5, h6 {
		color: #BEBEBE;
	}

	color: #BEBEBE;
}

.zap1-theme {
	background: #DADFE2;
	h1, h2, h3 {
		color: #FFFFFF;
	}

	h4, h5, h6 {
		color: #FFFFFF;
	}

	color: #FFFFFF;

	p {
		text-shadow: 0 1px 1px #354147;
		font-weight: 400;
	}
}

.zap2-theme {
    background: #FF4A00;
    background: linear-gradient(to right, #FC4B1D, #FE8044);
	font-weight: 400;
	letter-spacing: 2px;

	h1, h2, h3 {
		color: #FFFFFF;
	}

	h4, h5, h6 {
		color: #FFFFFF;
	}

	ul, ol {
		line-height: 24px;
	}
	a {
		color: #ffffff;
	}

	color: #FFFFFF;

	p {
		font-size: 18px;	
		line-height: 150%;
	}

	.btn-default {
		.button-variant(#5F6C72, #FFF, #FFF);
		font-size: 1.3em;
    	padding: 0.8em 1.5em;
	}
}

.yellow-theme {

}