.content-list {
    background-color: #f0f3fa;
    margin: 60px 0;
    padding: 30px 0;

    h2 {
        color: #234163;
    	font-size: 56px;
    	font-weight: 400;
    	margin: 0 0 35px 0;
    }

   	table td {
   		a {
 		   text-decoration: none;
    		padding: 0;
    	}
    		padding: 0 0 0 20px;
    		border: 0;
    		vertical-align: middle;
    		text-align: left;
    		display: table-cell;    	
	}

    .list-item {
    	margin-bottom: 30px;
    }

    .item-img {
	    display: block;
	    float: left;
	    width: 22px;
	    height: 22px;
	    background: url("../img/newdesign/products-arrow.jpg") no-repeat scroll 0 0 transparent;    	
    }

    .item-link {
    	a {
    		font-size: 22px;
    		font-weight: 400;
    		color: #234163;
    		text-decoration: none;
		}
    }
}