.content-titles {
	padding-top: 80px;
	padding-bottom: 80px;

	.projects-row {
		padding-top: 50px;
	}

	background-color: #f0f3fa;
	h1, h2, h3 {
		font-weight: 400;
		color: #234163;
	}


	@media (min-width: 480px) {
		.project-card-small.horizontal .project-card-content {
	    	float: left;
	    	width: 50%;
	    	max-height: 258px;
		}
		.project-card-small.horizontal img {
		    width: 50%;
		    float: left;
		}	
	}

	.project-card-small .project-card-content {
    	padding: 25px;
    	position: relative;
    	height: 350px;
	}


	@media (min-width: 992px) {
		.project-card-small.horizontal {
		    margin-bottom: 14px;
		}
		.project-card-small img {
		    max-height: 260px;
		    height: 258px;
		}		
	}

	.project-card-small, .project-card-small.horizontal {
	    margin-bottom: 30px;
	    position: relative;
	}
	.project-card-small {
	    background: white;
	    border: 1px solid #daeaf3;
	    display: block;

	    &:hover {
	    	border: 1px solid #00aeef;
		}
	}

	a {
		color: #00aeef;
		text-decoration: none;
	}

	.project-card-small img {
	    width: 100%;
	}
}