@import "../bootstrap/variables";

h1 {
  font-size: 56px;
  color: #000000;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  color: #000000;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 800;
}

.submit-button {
  height: 50px;
  border-radius: 25px;
  #gradient.vertical(#92e024, #65b23a);
  box-shadow: 0px 2px 7px 0px rgba(28, 60, 7, 0.37), inset 0px -2px 0px 0px rgba(21, 21, 21, 0.21);
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  font-size: 18px;

  &:hover {
    color: white;
  }
}

form {
  .control-label {
    font-weight: normal;
    font-size: 14px;
  }
}

.form-control {
  height: 50px;
  padding: 14px 12px;
}

.form-inline .form-group {
  margin-right: 40px;
  .form-control {
    min-width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-lg {
    //width: 1200px;
  }
}

@import "menu.less";

.header {
  width: 100%;
  text-align: center;
  &-main {
    text-align: left;
    min-height: 680px;
  }

  background-size: cover;

  h1 {
    //margin-top: 10%;
    margin-top: 90px;
    margin-bottom: 10%;
    padding-left: 60px;
    color: #ffffff;
  }
}

.block-building-tech {
  h2 {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  max-width: 1200px;
  .tech-list {
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    //margin: 0px auto;
    //padding-left: 0px;

    .tech-list-item {
      //margin-bottom: auto;
      max-width: 220px;
      margin: 10px 7px;
      float: left;
      display: block;
      //position: relative;
      text-align: left;

      .image {
        //margin: 0px auto;
        border-radius: 14px;
        width: 220px;
        height: 220px;
        &:hover, &:focus {
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
        }
      }

      text-indent: 0px;
      p {
        padding: 10px 10px;
      }
      a {
        padding: 0px 0px;
        color: #000000;
        &:hover, &:focus {
          text-decoration: none;
          color: #fc7121;
        }
      }

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &:hover, &:focus {
        .image {
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
        }
        a {
          color: #fc7121;
        }
      }
    }

  }
}

.block-benefits {
  .section {
    min-height: 590px;
    background-color: #ededed;
    background-size: cover;
  }

  .section-text() {
    padding: 15px 30px 20px 30px;
    max-width: 600px;

    h3 {
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }

  .section-text-right {
    .section-text();
    float: left;
  }

  .section-text-left {
    .section-text();
    float: right;
  }
}

.block-callback-form {
  .form-container {
    border-radius: 16px;
    border-color: #43af65;
    border-width: 2px;
    border-style: solid;
    background-color: #efefef;

    margin-bottom: 80px;
    margin-top: 80px;
    min-height: 130px;

    line-height: 50px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 50px;
    vertical-align: middle;
    font-size: 18px;
  }

  .hint {
    margin-top: -10px;
    display: block;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }
}

.block-pop-projects {
  margin-bottom: 50px;
  h2 {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  max-width: 1200px;
  .project-list {
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;

    .project-list-item {
      //margin-bottom: auto;
      max-width: 320px;
      margin: 10px 35px;
      float: left;
      display: block;
      //position: relative;
      text-align: left;

      .image {
        //margin: 0px auto;
        border-radius: 14px;
        width: 320px;
        height: 240px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
        background-size: cover;
        background-position: center;
        .highlighter {
          border-radius: 14px;
          width: 100%;
          height: 100%;
          &:hover, &:focus {
            background-color: rgba(0, 0, 0, 0.50);
            .select-button {
              visibility: visible;
            }
          }
          text-align: center;
          vertical-align: middle;
          padding-top: 110px;
        }

        .select-button {
          font-size: 18px;
          font-weight: bold;
          height: 50px;
          border-radius: 25px;
          #gradient.vertical(#efb300, #e66b1e);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.004), inset 0px -2px 0px 0px rgba(21, 21, 21, 0.21);

          text-decoration: none;
          color: #ffffff;
          font-weight: bold;
          padding: 10px 25px;
          visibility: hidden;
        }

      }

      text-indent: 0px;
      p {
        padding: 30px 5px 0px 5px;
        text-align: center;
      }
      a {
        padding: 0px 0px;
        color: #000000;
        &:hover, &:focus {
          text-decoration: none;
          //color: #fc7121;
        }
      }

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

  }

  .projects-hidden {
    display: none;
  }

  .projects-yet-button {
    font-size: 16px;
    color: #fc7121;
    text-decoration: none;
    border-bottom: 1px dashed #fc7121;
  }
}

.block-catalog-form {
  margin-bottom: 15px;
  margin-top: 15px;
  h3 {
    margin-bottom: 10px;
    font-size: 34px;
  }
  .form-container {
    border-radius: 16px;
    border: 5px solid rgb(255, 224, 69);
    background-color: rgba(239, 239, 239, 0.32);

    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 130px;

    line-height: 50px;
    padding: 25px 80px 15px 80px;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
  }

  .phone {
    font-size: 32px;
    text-align: left;
    font-weight: 400;
  }

  .phone-action {
    font-size: 24px;
    text-align: right;
    font-weight: 400;
  }
}

.block-inner-about {
  margin-top: 80px;
  color: #ffffff;
  text-align: center;

  h2 {
    color: #ffffff;
  }

  .section {
    padding: 70px 20px;
    background-color: dodgerblue;
    background-size: cover;
  }

  p {
    text-align: left;
    margin-bottom: 50px;
  }

  .about-button {
    height: 50px;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 25px;
    font-size: 18px;

    &:hover {

    }
  }
}

.block-new-projects {
  margin-bottom: 50px;
  h2 {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  max-width: 1200px;

  .image {
    //margin: 0px auto;
    display: inline-block;
    float: left;
    border-radius: 14px;
    width: 320px;
    height: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  .content {
    h3 {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 40px;
    }
    //display: inline-block;
    //float: left;
    text-align: left;
  }
}

.block-smeta-form {
  h3 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 800;
    color: #fc7121;
  }
  .form-container {
    border-radius: 16px;
    border-color: #ea583d;
    border-width: 2px;
    border-style: solid;
    background-color: #efefef;

    margin-bottom: 80px;
    margin-top: 50px;
    min-height: 130px;

    line-height: 50px;
    padding: 40px 80px 60px 80px;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
  }

  form {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px 50px 50px 50px;
    vertical-align: middle;
    .control-label {
      font-size: 14px;
      line-height: 50px;
      padding-top: 0px;
      text-align: left;
    }

    .x-label {
      padding: 0px 0px;
      float: left;
    }

    .radio-group {
      margin-right: 20px;
    }

    input[type="radio"] {
      background: none;
      border-radius: 10px;
      box-shadow: none;
      cursor: pointer;
      height: 20px;
      width: 20px;
      border: 1px solid #cccccc;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin-bottom: -5px;
      margin-right: 5px;
      box-shadow: inset 0 0 0 4px #ffffff;
      &:checked {
        content: '';
        background-color: #fc7121;
      }

      &:focus {
        outline: none;
        border: 2px solid #a5c7fe;
      }
    }

    .select-file-button {
      font-size: 14px;
      color: #fc7121;
      text-decoration: none;
      border-bottom: 1px dashed #fc7121;
    }

  }

  .submit-button {
    #gradient.vertical(#efb300, #e66b1e);
  }
}

.footer {
  background-color: #464646;
  color: #ffffff;
  min-height: 160px;
  margin-top: 50px;

  .brand-footer-button {
    margin-top: 40px;
    margin-right: 40px;
    display: block;
  }

  .menu-footer {
    color: #ffffff;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 12px;
    .menu-footer-item {
      color: #FFFFFF;
    }
  }

  .contacts {
    margin-top: 30px;
    width: 240px;
    padding: 5px 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    .phone {
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.block-service-benefits {
  margin-top: 80px;
  //padding: 50px 0px;
  padding-bottom: 50px;
  background-color: #ededed;

  h2 {
    margin-top: 80px;
    margin-bottom: 20px;
  }
  max-width: 1200px;

  .video-header {
    text-align: left;
    float: left;
    width: 320px;
    margin-right: 60px;
  }

  .video {
    //margin: 0px auto;
    display: inline-block;
    float: left;
    width: 320px;
    height: 240px;
    background-size: cover;
    margin-right: 60px;
    margin-bottom: 40px;
  }

  .content {
    h3 {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 40px;
    }
    //display: inline-block;
    //float: left;
    text-align: left;
    li {
      margin-bottom: 30px;
    }
  }
}

.block-demo-home {
  text-align: center;
  .section {
    //display: block;
    //max-width: 590px;
    margin-top: 50px;
    background-size: cover;
    text-align: center;
    p {
      text-align: left;
    }
  }

  .section-text() {
    padding: 15px 30px 20px 30px;
    max-width: 590px;

    h3 {
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }

  .section-text-right {
    .section-text();
    float: left;
  }

  .section-text-left {
    .section-text();
    float: right;
  }

  .image {
    //margin: 0px auto;
    border-radius: 14px;
    width: 100%;
    //width: 590px;
    //height: 405px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    //background-size: cover;
  }

  .submit-button {
    #gradient.vertical(#efb300, #e66b1e);
    margin-top: 30px;
  }

  .form-horizontal {
    margin-top: 50px;
  }
}

.page-project-modal {
  padding-bottom: 30px;

  .list-group-item {
    //border: none;
  }

  .carousel-indicators {
    li {
      border-color: @brand-primary;
      width: 16px;
      height: 16px;
    }

    .active {
      margin-bottom: 1px;
      background-color: @brand-primary;
    }

  }

  .carousel-control {
    &.left {
      background-image: none;
    }

    &.right {
      background-image: none;
    }

    .glyphicon-chevron-right {

    }

    .glyphicon-chevron-left {

    }

    text-shadow: none;
    color: @brand-primary;
  }

  .carousel-indicators {
    bottom: -30px;
  }

  .form-inline .form-group .form-control {
    min-width: 150px;
  }

  form {
    h4 {
      font-weight: bold;
    }
  }
}