@import "../bootstrap/mixins.less";

.navbar-main-menu {
  background-color: rgba(2,2,2,0.56);
  min-height: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px;
  border: none;

  li {
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 58px;
    padding-left: 40px;
    padding-bottom: 15px;

    a {
      color: #ffffff;
      padding: 0px 0px 0px 0px;

      &:hover, &:focus {
        text-decoration: none;
        border-bottom: 2px solid #ffffff;
        background: none;
      }
    }

    &.active {
      a {
        border-bottom: 2px solid #ffffff;
      }
    }
  }

  .navbar-brand {
    width: 205px;
    padding: 0px 0px;
  }

  .contacts {
    width: 240px;
    padding: 5px 20px;
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    .phone {
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
    }
  }

  margin-bottom: 0px;
}

.navbar-main-menu2 {

  .navbar-main-menu();
  min-height: 52px;
  background-color: #8fc83c;
  #gradient.vertical(#72a22f, #8fc83c);
  //background: #83b937;


  li {
    height: auto;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    a {

    }
  }

  margin-bottom: 20px;
}

