{% autoescape false %}
<section class="content-titles" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container">
        <div class="container-section">
            <div class="title-and-subtitle-homepage">
                <h2 class="title-section font-switch">{{block.header}}</h2>
                <h3 class="subtitle-section">{{block.header2}}</h3>
            </div>
            <div class="row projects-row">
                {% for item in block.items %}
                <div class="col-md-6 col-sm-6">
                   <div class="project-card-small horizontal clearfix no-borders-images">
                      {% if item.link %}<a href="{{item.link}}">{% endif %}
                            <img class="img-responsive" src="/img/{{item.image}}">                      
                      {% if item.link %}</a>{% endif %}
                      <div class="project-card-content">
                         <h4 class="title-card">{{item.title}}</h4>
                         {{item.content}}
                      </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            <div class="more-about-section pull-right">{{block.content}}</div>
        </div>
    </div>
</section>
{% endautoescape %}