{% autoescape false %}
<section class="content-uni block-gallery" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container">
        <div class="row header">
            {% if block.header %} <h2 class="text-center">{{block.header}}</h2> {% endif %}
            {% if block.header2 %} <h3 class="text-center">{{block.header2}}</h3> {% endif %}
            {% if block.text %} <p class="lead">{{block.text}}</p> {% endif %}
            {{block.content}}
        </div>
        <div class="row">
            {% for gallery in block.galleries %}
            {% if gallery.settings.name %} <h4>{{gallery.settings.name}}</h4> {% endif %}
            {% include 'gallery.swig.html' ignore missing %}
            {% endfor %}
        </div>
    </div>
</section>
{% endautoescape %}