{% autoescape false %}

<section class="price-4 bg-base" {% if block.header %}style="padding-top: 40px;"{% endif %}>
    <div class="container">
        {% if block.header %}<h2 style="text-align: center;padding-bottom: 40px;">{{block.header}}</h2>{% endif %}
        <div class="row">
            <div class="col-sm-5">
                <div class="span5 plan">
                    <div class="title">{{block.title}}</div>
                    <div class="price">{{block.price}}</div>
                    <div class="description">
                        {% for d in block.descriptions %}
                        <div class="description-box">
                            {{d.title}}
                        </div>                               
                        {% endfor %}  
                    </div>
                    <a class="btn btn-huge" href="{{block.button.link}}">{{block.button.title}}</a>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 description-detail">
                <div class="row">
                    {% set _counter = 1 %}
                    {% for item in block.items %}
                    <div class="col-sm-6">
                        <span class="{{item.icon}}"></span>
                        <h6>{{item.title}}</h6>
                        {{item.content}}
                    </div>

                     {% if _counter == 2 %}
                        </div><div class="row">
                      {% set _counter = 0 %}
                     {% endif %}

                    {% set _counter += 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>
{% endautoescape %}