{% autoescape false %}
<section class="crew-4" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container">
        <h3>{{block.header}}</h3>
        <div class="members">
        {% for item in block.items %}
            <div class="member-wrapper">
                <div class="member">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(/img/{{item.image}});"><img src="/img/{{item.image}}" alt="" style="display: none;"></div>
                    </div>
                    <div class="info">
                        <div class="name">{{item.title}}</div>
                        {{item.content}}                    
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>
    <!--/.container-->
</section>
{% endautoescape %}