{% autoescape false %}
<section class="content-30" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container">
        <div class="row features">
            {% for item in block.items %}
            <div class="col-sm-3 box-{{loop.index}}">
                <div class="description-top">
                    <h6>{{item.title}}</h6>
                    {{item.content|removeP}}
                    {% if loop.index == 1 %}<img src="/img/arrow-tl@2x.png" width="61" height="97" alt="">{% endif %}
                    {% if loop.index == 2 %}<img src="/img/arrow-tl@2x.png" width="61" height="97" alt="">{% endif %}
                    {% if loop.index == 3 %}<img src="/img/arrow-tr@2x.png" width="61" height="97" alt="">{% endif %}
                    {% if loop.index == 4 %}<img src="/img/arrow-tr@2x.png" width="61" height="97" alt="">{% endif %}
                </div>
                <div class="img">
                    {% if item.link %} <a href="{{item.link}}"> {% endif %}
                    {% if item.image2 %} <img src="/img/{{item.image2}}" width="220" height="391" alt=""> {% endif %}                    
                    {% if item.image %} <img src="/img/{{item.image}}" width="220" height="391" alt=""> {% endif %}                    
                    {% if item.link %} </a> {% endif %}
                </div>
                <div class="description-bottom">
                    <h6>{{item.title2}}</h6>
                    {{item.content2|removeP}}
                    {% if loop.index == 1 %}<img src="/img/arrow-bl@2x.png" width="97" height="110" alt="">{% endif %}
                    {% if loop.index == 2 %}<img src="/img/arrow-br@2x.png" width="97" height="110" alt="">{% endif %}
                    {% if loop.index == 3 %}<img src="/img/arrow-bl@2x.png" width="97" height="110" alt="">{% endif %}
                    {% if loop.index == 4 %}<img src="/img/arrow-br@2x.png" width="97" height="110" alt="">{% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endautoescape %}