<!-- <div class="delimiter" style="margin-top:30px"></div> -->
<section class="header-11-sub bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>{{ block.header }}</h3>
                <p>{{ block.content }}</p>
                <div class="signup-form">
                    <form>
                        {% for input in block.form.inputs %}
                        <div class="form-group">
                            <label class="sr-only" for="block-catalog-form-input{{loop.index}}">{{input.title}}</label>
                            {% set input_name = 'input' + loop.index %}
                            <input type="{{input.type|default('text')}}" name="{{input.name|default(input_name)}}"
                                   class="form-control" id="block-catalog-form-input{{loop.index}}"
                                   placeholder="{{input.title}}">
                        </div>
                        {% endfor %}                    
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-info">{{ block.form.button }}</button>
                        </div>
                     </form>
                </div>
                <div class="additional-links">By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></div>
            </div>
            <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                <div class="player">
                    <iframe id="pPlayer" src="http://player.vimeo.com/video/80282064?title=0&amp;byline=0&amp;portrait=0&amp;api=1&amp;player_id=pPlayer" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>