{% autoescape false %}
<section class="content-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% if block.header %}<h3>{{block.header}}</h3>{% endif %}
                <p class="lead">{{block.content}}</p>
            </div>
        </div>
    </div>
    {% if block.items %}
    <div class="features">
        <div class="container">
            <div class="row">
              {% for item in block.items %}
                <div class="col-sm-6">
                    <h6>{{item.title}}</h6>
                    {{item.content}}
                </div>
              {% endfor %} 

              <!--
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>Easy to Use</h6>
                    Blocks fixed to 12 Grid system. It allows you to find understanding between the designer and
                    developer.
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <h6>Many Components</h6>
                    To get started, you select the desired sample and base the entire website on it.
                </div>
                -->
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endautoescape %}