<div class="container-fluid block-inner-about">
    <div class="row">
        <div class="col-md-12 section" style="background-image: url('/img/{{block.image}}')">
            <div class="container">
                <h2>
                    {{block.header}}
                </h2>

                {% set block_columns = 10 %}
                {% set block_columns /= block.items.length %}


                {% autoescape false %}

                {% for item in block.items %}
                <div class="col-md-{{block_columns}} {% if loop.first %}col-md-offset-1{% endif %}">
                    <h3>{{ item.title }}</h3>

                    <p>
                        {{ item.content }}
                    </p>
                </div>
                {% endfor %}
                {% endautoescape %}
            </div>

            <a href="#" class="about-button">{{block.form.button}}</a>
        </div>
    </div>
</div>

</div>