{% autoescape false %}
<section class="content-uni" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container">
        <div class="row">
            {% if block.header %} <h3>{{block.header}}</h3> {% endif %}
            {% if block.text %} <p class="lead">{{block.text}}</p> {% endif %}
            {{block.content}}
        </div>
        <div class="row">
         {% for table in block.tables %}
          {% if table.settings.name %} <h4>{{table.settings.name}}</h4> {% endif %}
          {% include 'table.swig.html' ignore missing %}
         {% endfor %}
        </div>
    </div>
</section>
{% endautoescape %}