{% autoescape false %}
<section class="content-9">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>{{block.header}}</h3>
                <p>{{block.content}}</p>
                <div class="row">
                    {% for item in block.items %}
                    <div class="col-sm-6 info">
                        <h6>{{item.title}}</h6>
                        {{item.content}}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 hidden-xs">
                <img src="/img/{{block.image}}" width="300" height="300" alt="">
            </div>            
        </div>
    </div>
</section>
{% endautoescape %}