{% autoescape false %}
{% set _formId = 9|randomId %}
{% set allForms = allForms|add2array(_formId) %}


<div class="text-center">

    <form class="form-horizontal form-callback" id="{{_formId}}">
        <h4>{{ block.header }}</h4>
        {% for input in block.inputs %}
        <div class="form-group">
            {% set input_name = 'input' + loop.index %}
            <div class="col-xs-12">
                <input type="{{input.type|default('text')}}"
                       name="{{input.name|default(input_name)}}"
                       class="form-control" id="block-catalog-form-input{{loop.index}}" placeholder="{{input.title}}">
            </div>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn submit-button">{{ block.button }}</button>
            </div>
        </div>
    </form>
</div>