{% autoescape false %}
<section class="content-uni content-uni-zap{% if block.theme %} {{block.theme}}{% endif %}" {% if block.id %}id="{{block.id}}"{% endif %} {% if block.background %}style="background:url(/img/{{block.background}})"{% endif %}>
    <div class="container">
        <div class="row text-center">
            {% if block.header %} <h2>{{block.header}}</h2> {% endif %}
            {% if block.text %} <p class="lead">{{block.text}}</p> {% endif %}
            {{block.content}}
        </div>
        <div class="row">
            {% for item in block.items %}
            <div class="col-md-{{item.cols}}">            
                {% if item.imageup %}
                    {% if item.link %} <a href="{{item.link}}" {% for _k, _v in item.data %}data-{{_k}}="{{_v}}"{% endfor %}> {% endif %}
                    {% if item.imageup %}
                        {% set _tmp = item.imageup|optimizeImage %}
                        {% set _tmp = "/img/" + _tmp %}
                        <img class="img-responsive" src="{{_tmp|cdn(__production)}}" alt="">
                    {% endif %}
                    {% if item.link %} </a> {% endif %}                
                {% endif %}

                {% if item.title %} <h3>{{item.title}}</h3> {% endif %}                
                {% if item.title2 %} <h4>{{item.title2}}</h4> {% endif %}
                {{item.content}}
                {% if item.image %}
                    {% if item.link %} <a href="{{item.link}}" {% for _k, _v in item.data %}data-{{_k}}="{{_v}}"{% endfor %}> {% endif %}
                    {% if item.image %}
                        {% set _tmp = item.image|optimizeImage %}
                        {% set _tmp = "/img/" + _tmp %}
                        <img class="img-responsive" src="{{_tmp|cdn(__production)}}" alt="">
                    {% endif %}
                    {% if item.link %} </a> {% endif %}                
                {% endif %}
                {% if item.button %}
                <br />
                <a href="{{item.buttonlink}}" class="btn btn-default" {% for _k, _v in item.data %}data-{{_k}}="{{_v}}"{% endfor %}>{{item.button}}</a>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endautoescape %}