{% autoescape false %}
{% set _formId = 9|randomId %}
{% set allForms = allForms|add2array(_formId) %}
<div class="row">
    <div class="col-md-12 text-center form-callback" id="{{_formId}}">
        <h4>{{ block.header }}</h4>

        <form class="form-inline">

            {% for input in block.form.inputs %}
            <div class="form-group">
                {% set input_name = 'input' + loop.index %}
                <input type="{{input.type|default('text')}}"
                       name="{{input.name|default(input_name)}}"
                       class="form-control" id="block-catalog-form-input{{loop.index}}" placeholder="{{input.title}}">
            </div>
            {% endfor %}

            <button type="submit" class="btn submit-button btn-sm">{{ block.form.button }}</button>
        </form>
    </div>
</div>