{% autoescape false %}
<section class="price-1">
    {% if block.header %}<h2 style="text-align: center;padding-bottom: 15px;">{{block.header}}</h2>{% endif %}
    <div class="container">
        <div class="row plans">
            {% for item in block.items %}
            <div class="col-sm-4">
                <div class="plan">
                    <div class="title">{{item.title}}</div>
                    <div class="price">{{item.price}}</div>
                    <div class="description">
                    	{{item.content|replaceP}}
                    </div>
                    <a class="btn btn-primary" href="{{item.link}}">{{item.button}}</a>
                    {% if item.ribbon %}<div class="ribbon">{{item.ribbon}}</div>{% endif %}
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    <!--/.container-->
</section>
{% endautoescape %}