{% autoescape false %}
<section class="block-content49" {% if block.id %}id="{{block.id}}"{% endif %}>
    {% if block.header %}
    <div class="container-fluid">
        <div class="row">
            <h2>{{block.header}}</h2>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7 section">
                <div class="section-text-left">
                    <div class="num">{{block.num}}</div>
                    <div class="header">{{block.title}}</div>
                    {% for item in block.items %}
                    <div class="icon">{% if item.icon %} <i class="fa fa-{{item.icon}}"></i> {% endif %}</div>
                    <div class="text">{{item.content}}</div>
                    {% endfor %}

                    <div class="content">
                        {{block.content|addCssClass("p","tech-list-item")}}
                    </div>
                    {% if block.price %}<div class="price">{{block.price|removeP}}</div>{% endif %}
                </div>
            </div>
            <div class="col-sm-5">
            </div>
            <div class="bg-container">
                {% set _tmp = block.image|optimizeImage %}
                {% set _tmp = "/img/" + _tmp %}
                <div class="background col-sm-5 col-sm-offset-7" style="background-image: url('{{_tmp|cdn(__production)}}')">
                </div>
            </div>

        </div>

    </div>
</section>
{% endautoescape %}