{% autoescape false %}
<section class="block-benefits35" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1 section">
                <h2>{{block.header}}</h2>

                <p class="lead">{{block.content}}</p>

                <div class="row columns">
                    {% for item in block.items %}
                    <div class="col-sm-6">
                        <b><strong>{{item.title}}</strong></b>
                        <span>{{item.content}}</span>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <div class="bg-container">
                {% set _tmp = block.image|optimizeImage %}
                {% set _tmp = "/img/" + _tmp %}
                <div class="background col-sm-4 col-sm-offset-8" style="background-image: url('{{_tmp|cdn(__production)}}')">
                </div>
            </div>

        </div>

    </div>
</section>
{% endautoescape %}