{% autoescape false %}
<section class="content-list">
  <div class="container">
    <h2>{{block.header}}</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="list-container">
          {% for item in block.items1 %}
          <div class="list-item">
            <table>
              <tbody><tr>
                <td><a class="item-img" href="{{item.link}}" style="background:url(/img/{{block.itemsimage}});"></a></td>
                <td class="item-link"><a href="{{item.link}}" class="no-img">{{item.content|removeP}}</a></td>
              </tr>
              </tbody></table>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-container">
          {% for item in block.items2 %}
          <div class="list-item">
            <table>
              <tbody><tr>
                <td><a class="item-img" href="{{item.link}}" style="background:url(/img/{{block.itemsimage}});"></a></td>
                <td class="item-link"><a href="{{item.link}}" class="no-img">{{item.content|removeP}}</a></td>
              </tr>
              </tbody></table>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


  </div>
</section>
{% endautoescape %}