{% autoescape false %}
<section class="blog-5">
    <div class="title">
        <div class="container">
            <h3>{{block.header}}</h3>
            {#
            <div class="submitted">
                <span><span class="fui-user"></span> Vladimir kudinov</span>
                <span><span class="fui-time"></span> may 21</span>
                <span><span class="fui-round-bubble"></span> 25 comments</span>
            </div>
            #}
        </div>
    </div>
    {#
    <div id="b5-pt-2" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1 pt-page-current bg-midnight-blue">
            <div class="container">
                <div class="box-icon">
                    <a class="pt-control-prev" href="#"></a>
                    <span class="icon fui-mic"></span>
                    <a class="pt-control-next" href="#"></a>
                </div>
            </div>
        </div>
        <div class="pt-page pt-page-2 bg-midnight-blue">
            <div class="container">
                <div class="box-icon">
                    <a class="pt-control-prev" href="#"></a>
                    <span class="icon fui-mic"></span>
                    <a class="pt-control-next" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    #}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% if block.lead %} <p class="lead">{{block.lead}}</p> {% endif %}

                {% for item in block.items %}
                  {% if item.content %}<p> {{item.content}}</p> {% endif %}
                  {% if item.quote %} 
                            </div>
                        </div>
                    </div>
                    <div class="quote">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2"> {{item.quote}} <div class="author">{{item.author}}</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">

                  {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endautoescape %}