{% autoescape false %}
{% set _formId = 9|randomId %}
{% set allForms = allForms|add2array(_formId) %}

{% autoescape false %}
<div class="container block-catalog-form">
    <div class="row">
        <div class="col-md-12 form-container">
            <h3>{{ block.header }}</h3>
            {{ block.content }}
            <form class="form-inline form-callback" action="https://1r8-forms.parseapp.com/formsmebel" method="get" id="{{_formId}}">
                {% for input in block.inputs %}
                <div class="form-group">
                    <label class="sr-only" for="block-catalog-form-input{{loop.index}}">{{input.title}}</label>
                    {% set input_name = 'input' + loop.index %}
                    <input type="{{input.type|default('text')}}" name="{{input.name|default(input_name)}}"
                           class="form-control" id="block-catalog-form-input{{loop.index}}"
                           placeholder="{{input.title}}">
                </div>
                {% endfor %}
                <button type="submit" class="btn submit-button">{{ block.button }}</button>
            </form>
            <div class="row">
                <div class="col-sm-6 phone-action">{{block.phoneaction}}</div>
                <div class="col-sm-6 phone">{{block.phone}}</div>
            </div>
        </div>
    </div>

</div>
{% endautoescape %}