{% autoescape false %}
<section class="content-titles" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div class="container">
        <div class="container-section">
            <div class="title-and-subtitle-homepage">
                <h2 class="title-section font-switch">{{block.header}}</h2>
                <h3 class="subtitle-section">{{block.header2}}</h3>
            </div>
            <div class="row projects-row">
                {% set _gallery = block.galleries[0] %}
                {% if _gallery %}
                    {% set resizecmd = '-size 640x480' %}
                    {% if gallery.settings.resizecmd %}
                        {% set resizecmd = gallery.settings.resizecmd %}
                    {% endif %}

                    {% set _galleryId = 9|randomId %}

                    {% for row in _gallery.data %}
                        {% if loop.index0 > 0 && row && row[0] && row[2] %}
                <div class="col-md-6 col-sm-6">
                    <div class="project-card-small horizontal clearfix no-borders-images">
                        <a href="/img/{{row[2]}}" data-lightbox2="gallerytitle" data-title="{{row[0]}}" >
                        <img class="img-responsive" src="/img/{{row[2]|resizeImage(resizecmd)}}">
                        </a>
                        <div class="project-card-content">
                            <h4 class="title-card">{{row[0]}}</h4>
                            {{row[1]|markdown}}
                        </div>
                    </div>

                </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>

            <div class="more-about-section pull-right">{{block.content}}</div>
        </div>
    </div>
</section>
{% endautoescape %}