{% autoescape false %}
<section class="content-35 -bg-base">
                <div class="background">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                {% set _tmp = "/img/" + block.image %}
                                <div class="bg-image" style="background-image: url('{{_tmp|cdn(__production)}}')"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-5">
                            <h2>{{block.header}}</h2>

                            <p class="lead">{{block.content}}</p>

                            <div class="row columns">
                                {% for item in block.items %}
                                <div class="col-sm-6">
                                   <b><strong>{{item.title}}</strong></b>
                                    <span>{{item.content}}</span>
                                </div>                            
                                {% endfor %}                            

                            </div>
                        </div>
                    </div>
                </div>
            </section>

{% endautoescape %}