{% autoescape false %}
<section class="content-17 v-center">
    <div>
        <div class="container">
            {% if block.image %}<h3><img src="/img/{{block.image}}" width="100" height="100" alt=""></h3>{% endif %}
            <div id="c-17_myCarousel" class="carousel slide">
                <div class="carousel-inner">
                                {% for item in block.items %}
                                <div class="item {% if loop.first %}active{% endif %}">{{item.title}}</div>
                                {% endfor %}                 
                </div>
            </div>
            {% if block.content %}<p>{{block.content}}</p>{% endif %}
        </div>
    </div>
</section>
{% endautoescape %}