{% autoescape false %}
<section class="block-benefits" {% if block.id %}id="{{block.id}}"{% endif %}>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 section">
            <div class="section-text-left">
                {{block.content|addCssClass("p","tech-list-item")}}
                {% if block.price %}<div class="price">{{block.price|removeP}}</div>{% endif %}
            </div>
        </div>

        <div class="bg-container">
            <div class="background col-sm-6 col-sm-offset-6" style="background-image: url('/img/{{block.image}}')">
           </div>
        </div>

    </div>

</div>
</section>
{% endautoescape %}