{% autoescape false %}
{% set _formId = 9|randomId %}
{% set allForms = allForms|add2array(_formId) %}

{% autoescape false %}
<section class="contacts-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>{{ block.header }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form action="https://1r8-forms.parseapp.com/forms" method="get" class="form-callback" id="{{_formId}}">
                        {% for input in block.form.inputs %}
                            <label for="block-catalog-form-input{{loop.index}}">{{input.title}}</label>
                            {% set input_name = 'input' + loop.index %}
                            <input type="{{input.type|default('text')}}" name="{{input.name|default(input_name)}}"
                                   class="form-control" id="block-catalog-form-input{{loop.index}}">
                        {% endfor %}                  
                    <button type="submit" class="btn btn-primary">{{ block.form.button }}</button>
                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <div class="additional">
                    {% if block.header2 %}<h6>{{block.header2}}</h6>{% endif %}
                    <p>{{block.content}}</p>
                </div>
                <div class="phone">
                    <big>{{global.phone}}</big>
                    {{global.phone_time}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endautoescape %}