{% autoescape false %}
<section class="projects-3">
    <div class="container">
        <h3>{{block.header}}</h3>
        <div class="projects">
           {% for item in block.items %}
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(img/{{item.image}});"><img src="img/{{item.image}}" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">{{item.title}}</div>
                        {{item.content}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--/.container-->
</section>
{% endautoescape %}