{% autoescape false %}
<section class="content-14 v-center" {% if block.id %}id="{{block.id}}"{% endif %}>
    <div>
        <div class="container">
            <h3>{{block.header}}</h3>
            <p class="lead">{{block.content|removeP}}</p>
            <div class="row features">
                <div class="col-sm-2">

                {% for item in block.items %}
                {% if loop.index < 5 %}
                <div class="box-{{loop.index}}">
                    <h6>{{item.title}}</h6>
                    {{item.content}}
                </div>
                {% set lastindex = loop.index %}
                {% endif %}
                {% endfor %}


                {% for item in block.itemsl %}
                <div class="box-{{loop.index+8}}">
                    <h6>{{item.title}}</h6>
                    {{item.content}}
                </div>
                {% endfor %}

                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <img src="/img/{{block.image}}" alt="">
                </div>
                <div class="col-sm-2 col-sm-offset-1">

                {% for item in block.items %}
                {% if loop.index > 4 %}
                <div class="box-{{loop.index}}">
                    <h6>{{item.title}}</h6>
                    {{item.content}}
                </div>
                {% endif %}
                {% endfor %}

                {% for item in block.itemsr %}
                <div class="box-{{loop.index+8+4}}">
                    <h6>{{item.title}}</h6>
                    {{item.content}}
                </div>
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endautoescape %}