<div class="modal fade" id="callbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="vertical-alignment-helper">
  <div class="modal-dialog modal-lg- vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">

          <a type="button" href="#" class="pull-right card-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
        <h3 class="modal-title" id="myModalLabel">Бесплатный обратный звонок</h3>
      </div>
      <div class="modal-body">
       <div class="row">
       <div class="col-sm-10 col-sm-offset-1">
           {% set _formId = 9|randomId %}
           {% set allForms = allForms|add2array(_formId) %}
        <form action="https://1r8-forms.parseapp.com/formsmebel" method="get" id="{{_formId}}" class="form-callback">
          <div class="form-group">
            <label for="exampleInputEmail1">Ваше имя</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>
          <div class="form-group">
            <label>Телефон</label>
            <input type="text" name="phone" class="form-control input-phone" placeholder="Ваш телефон">
          </div>
          <div class="row">
          <button type="submit" class="btn submit-button pull-right">Заказать</button>
          </div>
        </form>      
        </div>
        </div>
      </div>

    </div>
  </div>
 </div>
</div>