<div class="feedback-box" style="display: none">
    <div class="feedback-box-left">
        <i class="fa fa-phone"></i><br>
        <i class="fa fa-envelope"></i><br>
        <i class="fa fa-question-circle"></i>
    </div>
    <div class="feedback-box-right">
        <h3>Остались вопросы?</h3>
        <p>Позвоните по телефону <br><strong style="text-align: right">&nbsp;&nbsp;&nbsp;{{global.phone}}</strong></p>
        <p>Напишите <strong>{{global.email}}</strong></p>
        <p><strong><a href="#callback-modal" class="callback">Заказать бесплатный звонок</a></strong></p>
    </div>
</div>