<footer class="footer-3">
    <div class="container">
        <div class="row v-center">
            <div class="col-sm-2">
                <a class="brand" href="#">{{global.company_name}}</a>
            </div>
            
                {% set _counter = 1 %}

                {% for item in menus.footer.items %}
                {% if _counter == 1 %}
                <div class="col-sm-2">
                <div class="additional-links">
                    {% endif %}
                        {{item.description}}<a href="{{ item.url }}">{{item.title}}</a><br/>
                {% if _counter == 6 %}
                </div></div>
                {% set _counter = 0 %}
                {% endif %}

                {% set _counter += 1 %}
                {% endfor %}

                {% if _counter > 0 %}
                 </div></div>
                {% endif %} 
                           
            <div class="col-sm-3 col-sm-offset-1">
                {% if global.urlico %} <h6>{{global.urlico}}</h6> {% endif %}
                {% if global.inn %} <p>ИНН {{global.inn}}</p> {% endif %}
                {% if global.kpp %} <p>КПП {{global.kpp}}</p> {% endif %}
                {% if global.address.city %} <h6>{{global.address.city}}</h6> {% endif %}
                {% if global.address.street %}
                <div class="address">
                    {{global.address.street}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</footer>