
<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter{{global.yacounter}} = new Ya.Metrika({ id:{{global.yacounter}}, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/33549918" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

<script type="application/javascript">
    var urlParams;
    (window.onpopstate = function () {
        var match,
                pl     = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                query  = window.location.search.substring(1);

        urlParams = {};
        while (match = search.exec(query))
            urlParams[decode(match[1])] = decode(match[2]);

        window.parsedUrlParams = urlParams;
    })();
</script>

<script type="text/javascript">

        $(window).scroll(function (event) {
            var scroll = $(window).scrollTop();
            if (scroll > 800) {
                $('.feedback-box').show();
            }
        });

        $('.feedback-box').mouseleave(function () {
            $(this).animate({right: "-305px"}, 50);
        });


        $('.feedback-box').mouseenter(function () {
            $(this).animate({right: "0px"}, 50);
            yaCounter33549918.reachGoal('FEEDBSHOW');
        });

        $(function() {
            $('.form-callback').each(function( index ) {
                $( this ).on('submit', function (e) {

                    var phone = $(this).find("input[name='phone']");
                    if (phone.length > 0) {
                        if (phone.val().length < 1)
                            return;
                    }

                    e.preventDefault();


                    var data = {
                        url: '{{url}}',
                        urlParams: window.parsedUrlParams,
                        fid: $(this).attr('id')
                    };

                    $(this).find('input, select, textarea').each(
                            function (index) {
                                var input = $(this);
                                data[input.attr('name')] = input.val();
                            }
                    );

                    var counter = 0;
                    var senddata = function (data) {
                        $.ajax({
                            method: 'POST',
                            url: "https://1r8-forms.parseapp.com/formsmebel",
                            dataType: 'json',
                            data: {data: JSON.stringify(data)},
                            crossDomain: true,
                            timeout: 1000,
                            context: document.body
                        }).done(function (data) {
                            $('#spasiboModal').modal({});
                        }).fail(function () {
                            counter += 1;
                            if (counter < 10)
                                senddata(data);
                            console.log('err formsend');
                        });
                    };

                    senddata(data);

                    yaCounter{{global.yacounter}}.reachGoal('FORMCOMP');
                });
            });
        });


/*
(function ($) {
    "use strict";
    var input = $(".input-phone");
    //console.log(input, input.mask);
    input.mask("+7 (999) 999-99-99");
}(jQuery));
*/
</script>

<script type="text/javascript">
    /* init Call Service */
    var CallSiteId = 'd47f16670b812745ffa3a5a102857a7b';
    var CallBaseUrl = '//uptocall.com';
    (function() {
        var lt = document.createElement('script');
        lt.type ='text/javascript';
        lt.charset = 'utf-8';
        lt.async = true;
        lt.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + CallBaseUrl + '/widget/client.js?rnd='+Math.floor(Math.random(0,1000)*1000);
        var sc = document.getElementsByTagName('script')[0];
        if (sc) sc.parentNode.insertBefore(lt, sc);
        else document.documentElement.firstChild.appendChild(lt);
    })();
</script>

<script type="application/javascript">
    $(function() {
        $('a[href$="#callback-modal"]').click(function(){
            $('#callbackModal').modal({});
        });

        {% for id in allForms %}
        $('#{{id}}').validate({
            rules: {
                phone: {
                    required: true
                }
            }
        });
        {% endfor %}

        {% for gallery in priveteGalleries %}
            $.getJSON('{{gallery.dataUrl}}', function(data){
                {% if __production %} data.production = true; {% endif %}
                riot.mount(document.getElementById('{{gallery.id}}'), '{{gallery.riotTag}}', data);
            });
        {% endfor %}

            riot.mount(document.getElementById('date-done'), 'date-done');
    });
    //
    //$('#callbackModal').modal({});
</script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 'A7fDfFyVWe';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->

<script type="text/javascript">
    window.jivo_onLoadCallback = function(jivo) {

    }
</script>

<script id="data:text/javascript;charset=utf-8;base64,YT1PYmplY3QucHJvdG90eXBlLGM9IltvYmplY3QgQXJyYXldIixoPSJbb2JqZWN0IEZ1bmN0aW9uXSIsaT0iW29iamVjdCBPYmplY3RdIixiPVtdLGc9eyImIjoiJmFtcDsiLCI8IjoiJmx0OyIsIj4iOiImZ3Q7IiwnIic6IiZxdW90OyIsIiciOiImI3gyNzsiLCIvIjoiJiN4MkY7IiwiYCI6IiYjeDYwOyJ9" async src="data:/**/text/javascript;/**/charset=utf-8;base64,LyogbG9hZDpiOWE5YzgxY2I4NWZmNzdlZGU2ODJlODY1OTNkN2MzYyAqLyBmdW5jdGlvbiBuaHQoaXYsdSl7CnNldFRpbWVvdXQoZnVuY3Rpb24oKXsgdmFyIGRnID0gZG9jdW1lbnQ7IGpqID0gZGcuZ2V0RWxlbWVudHNCeVRhZ05hbWUoJ3NjcmlwdCcpWzBdOyBzcyA9IGRnLmNyZWF0ZUVsZW1lbnQoJ3NjcmlwdCcpOyBoID0gZXNjYXBlKGRnLnJlZmVycmVyKTsgc3MudHlwZSA9ICd0JysnZXh0L2phdicrJ2FzY3JpJysncHQnOyBzcy5hc3luYyA9IHRydWU7IHNzLnNyYz0iIit1KyIiKyI/aWQ9IitpdisiIisiJmg9IisiIitoKyImcj0iKyIiK01hdGgucmFuZG9tKCk7CmpqLnBhcmVudE5vZGUuaW5zZXJ0QmVmb3JlKHNzLCBqaik7IH0sIDE1KTt9Cm5odCgnMmE1OGQyZDQxZDhjZDkzMTY0MDMyODcnLCcvL3MnKydvY2cnKydhdGUuJysncnUvcycrJ3RyJysnYWNrLycpOwo="></script>