{% autoescape false %}
{% set _formId = 9|randomId %}
{% set allForms = allForms|add2array(_formId) %}
<form class="form-horizontal form-header form-callback" action="https://1r8-forms.parseapp.com/formsmebel" method="get" id="{{_formId}}">
    <h3>{{ form.header }}</h3>
    {{form.content}}

    {% for input in form.inputs %}
    <div class="form-group">
        {% set input_name = 'input' + loop.index %}
        <div class="col-sm-12">
            <input type="{{input.type|default('text')}}"
                   name="{{input.name|default(input_name)}}"
                   class="form-control" id="block-catalog-form-input{{loop.index}}" placeholder="{{input.title}}">
        </div>
    </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-12 {% if stockimage %}submit-button-container{% endif %}">
            <button type="submit" class="btn submit-button">{{ form.button }}</button>
        </div>
    </div>
</form>
{% endautoescape %}