<div class="modal fade gallery-modal" id="galleryTitleModal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-body" nostyle="position:relative; top:0px; left:0px; bottom:0px; right:0px;">
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td id="galleryModal-preview" valign="top" style="padding-right: 25px"><img src="" id="preview" style="width: 100%;"></td>
                            <td width="400" valign="top" style="padding-left: 25px; border-left: 2px solid #dddddd;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a type="button" href="#" class="pull-right card-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-sm-12">
                                        <h5 class="modal-title" id="myModalLabel">Просмотр</h5>
                                        <h6>Изготовим мебель под заказ<br> за 7 дней</h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="callback-form">

                                            <h3>Получите полный каталог мебели</p>
                                            {% set _formId = 9|randomId %}
                                            {% set allForms = allForms|add2array(_formId) %}
                                            <form action="https://1r8-forms.parseapp.com/formsmebel" method="get" id="{{_formId}}" class="form-callback">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" name="phone" class="form-control input-phone" placeholder="Ваш телефон">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="comment" class="form-control" placeholder="e-mail">
                                                </div>
                                                <div class="form-group" style="visibility: hidden;max-height: 1px;">
                                                    <input type="text" name="model" id="inputModalLabel">
                                                </div>
                                                <div class="form-group" style="text-align: right">
                                                    <button type="submit" class="btn submit-button">Узнать стоимость</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 10px">
                                        <a type="button" href="#" class="pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-history"></i> Вернуться к просмотру всех кухонь</a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    //$(function() {
    $(document).delegate('*[data-lightbox2="gallerytitle"]', 'click', function(event) {
        event.preventDefault();
        $('#galleryTitleModal').get(0).showEventSource = this;
        $('#galleryTitleModal').modal({sourceEvent: event});
        //console.log($(this));
    });

    $('#galleryTitleModal').on('show.bs.modal', function (event) {


        var modal = $(this);
        modal.find('#myModalLabel').text($(this.showEventSource).data('title'));

        modal.find('#inputModalLabel').val($(this.showEventSource).data('title'));
        //modal.find('#galleryModal-preview').css('background-image', 'url(' + $(this.showEventSource).attr("href") + ')');
        modal.find('#preview').attr("src", $(this.showEventSource).attr("href"));

    });
    //});


</script>