<div class="modal fade gallery-modal" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModal">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-body" nostyle="position:relative; top:0px; left:0px; bottom:0px; right:0px;">
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td id="galleryModal-preview" valign="top" style="padding-right: 25px; background-image: url('/img/loading_spinner.gif');background-repeat: no-repeat;background-attachment: fixed;background-position: center center; "><img src="" id="preview" style="width: 100%;"></td>
                            <td width="350" valign="top" style="padding-left: 25px; border-left: 2px solid #dddddd;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a type="button" href="#" class="pull-right card-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-sm-12">
                                        <h6 class="modal-title" id="myModalLabel">Просмотр</h6>
                                        <p class="info"><strong>Фасады: </strong><span id="facade"></span></p>
                                        <!--
                                        <p class="info"><strong>Фурнитура: </strong><span id="accessories"></span></p>
                                        <p class="info"><strong>Столешница: </strong><span id="tabletop"></span></p>
                                        <p class="price"><strong>Цена в этой комплектации:<br/> </strong> от <span id="oldprice"></span> <span id="price">17000</span> <i class="fa fa-rub"></i> за п.метр</p>
                                        -->
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="callback-form">

                                        <h3>Хотите узнать цену?</h3><p>Введите габариты Вашей кухни</p>
                                        {% set _formId = 9|randomId %}
                                        {% set allForms = allForms|add2array(_formId) %}
                                        <form action="https://1r8-forms.parseapp.com/formsmebel" method="get" id="{{_formId}}" class="form-callback">
                                            <div class="form-group">
                                                <input type="text" name="comment" class="form-control" placeholder="Размеры и пожелания">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Ваше имя">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="phone" class="form-control input-phone" placeholder="Ваш телефон">
                                            </div>
                                            <div class="form-group" style="visibility: hidden;max-height: 1px;">
                                                <input type="text" name="model" id="inputModalLabel">
                                            </div>
                                            <div class="form-group" style="text-align: right">
                                                <button type="submit" class="btn submit-button">Узнать цену</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 10px">
                                        <a type="button" href="#" class="pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-history"></i> Вернуться к просмотру всех кухонь</a>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    //$(function() {
        $(document).delegate('*[data-lightbox2="gallery"]', 'click', function(event) {
            event.preventDefault();
            $('#galleryModal').get(0).showEventSource = this;
            $('#galleryModal').modal({sourceEvent: event});
            //console.log($(this));
        });

        $('#galleryModal').on('show.bs.modal', function (event) {


            var modal = $(this);
            modal.find('#myModalLabel').text($(this.showEventSource).data('title'));

            var facade = $(this.showEventSource).data('facade') || {};
            modal.find('#facade').text(facade);


            var accessories = $(this.showEventSource).data('accessories') || '';
            modal.find('#accessories').text(accessories);

            var tabletop = $(this.showEventSource).data('tabletop') || '';
            modal.find('#tabletop').text(tabletop);

            var price = $(this.showEventSource).data('price') || '';
            price = price.replace("р/м", "-<span class='price-ed'><br>руб. за п.метр</span>");
            var oldprice = $(this.showEventSource).data('oldprice') || '';
            oldprice = oldprice.replace("р/м", "-");


            modal.find('#price').html(price);
            modal.find('#oldprice').html(oldprice);

            modal.find('#inputModalLabel').val($(this.showEventSource).data('title'));
            //modal.find('#galleryModal-preview').css('background-image', 'url(' + $(this.showEventSource).attr("href") + ')');
            modal.find('#preview').attr("src", $(this.showEventSource).attr("href"));

        });
    //});


</script>