<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    {% for css in vendor.templatedelta.css %}
    <link href='/{{css.relative}}' rel='stylesheet' type='text/css'>
    {% endfor %}

    <link href='/css/dstyle.css' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script>html5.addElements('test')</script>
    <![endif]-->
</head>
<body>

<div class="page-wrapper">

    <header class="header-10">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="/">Быстро-Мебель 2</a>
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                            {% for item in menus.main.items %}
                            <li {% if item.url== url %}class="active" {% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}
                            <li ><a href="#callback-modal" class="callback">Заказать звонок</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="header-background"></div>
    </header>

    {% if simplepage %}

    <section class="header-3-sub" style="padding-top: 85px;">
        <div class="background" style="background-image: url(/img/{{header_bgimage}})">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% autoescape false %}
                    <h1>{{ header }}</h1>
                    <p>{{ header2 }}</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>
    <!--
    <section class="header-22-sub v-center">
        <div>
            <div class="background">&nbsp;</div>
            <div class="container">
                {% autoescape false %}
                <div class="row">
                    <h3 class="col-sm-10 col-sm-offset-1">{{ header }}</h3>
                </div>
                <div class="row">
                    <p class="col-sm-10 col-sm-offset-1">{{ header2 }}</p>
                </div>
                {% endautoescape %}
            </div>
        </div>
    </section>
    -->
    {% else %}
    <section class="header-10-sub v-center bg-midnight-blue">
        <div class="background" style="background-image: url(/img/{{header_bgimage}})">&nbsp;</div>
        <div>
            <div class="container">
                <div class="hero-unit">
                    {% autoescape false %}
                    <h1>{{ header }}</h1>
                    {% endautoescape %}
                    {% autoescape false %}
                    <p>{{ header2 }}</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <a class="control-btn fui-arrow-down" href="#"> </a>
    </section>
    {% endif %}

    {% for block in blocks %}
    {% set block_template = "block" %}
    {% if block.template %}
    {% set block_template += "-" %}
    {% set block_template += block.template %}
    {% endif %}

    {% set block_template += ".swig.html" %}
    {% include block_template ignore missing %}
    {% endfor %}


    {% include 'footer.swig.html' ignore missing %}

</div>

{% for script in vendor.javascript %}
<script src="/{{script.relative}}"></script>
{% endfor %}

{% include 'callback-modal.swig.html' ignore missing %}
{% include 'gallery-item-modal.swig.html' ignore missing %}

{% include 'footer-scripts.swig.html' ignore missing %}


</body>
</html>