<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <title>{{ header|striptags }}</title>


    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

{% for css in vendor.css %}
    <link href='/{{css.relative}}' rel='stylesheet' type='text/css'>
{% endfor %}

    <link href='{{"/css/style.css"|hashName(__production)|cdn(__production)}}' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
{% include 'header-scripts.swig.html' ignore missing %}
<div class="page-wrapper">

    <header class="header-10">
        <div class="container">
            <div class="row">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="#kitchens">{{global.company_name}}</a>
                    </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                            {% for item in menus.main.items %}
                            <li {% if item.url== url %}class="active" {% endif %}><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}

                            <li class="phone-menu"><span>{{global.phone}}</span>
                                <div class="phone-callback"><a href="#callback-modal" class="callback">Заказать звонок</a></div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="header-background"></div>
    </header>

    {% if simplepage %}

    <section class="header-3-sub" style="padding-top: 85px;">
        <div class="background" style="background-image: url(/img/{{header_bgimage}})">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% autoescape false %}
                    <h1>{{ header }}</h1>
                    {% if header2 %}<p>{{ header2 }}</p>{% endif %}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>
    <!--
    <section class="header-22-sub v-center">
        <div>
            <div class="background">&nbsp;</div>
            <div class="container">
                {% autoescape false %}
                <div class="row">
                    <h3 class="col-sm-10 col-sm-offset-1">{{ header }}</h3>
                </div>
                <div class="row">
                    <p class="col-sm-10 col-sm-offset-1">{{ header2 }}</p>
                </div>
                {% endautoescape %}
            </div>
        </div>
    </section>
    -->
    {% else %}
    <section class="header-10-sub bg-midnight-blue">
        {% set _tmp = header_bgimage|optimizeImage %}
        {% set _tmp = "/img/" + _tmp %}
        <div class="background" style="background-image: url('{{_tmp|cdn(false)}}')">&nbsp;</div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-{{header_size|default(8)}} m-page-header-white m-page-header">
                        {% autoescape false %}
                        <h1>{{ header }}</h1>
                        {% endautoescape %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-{{header2_size|default(7)}} m-page-header-white">
                        {% autoescape false %}
                        {% if header2 %}<h2>{{ header2 }}</h2>{% endif %}
                        {% endautoescape %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7 m-page-header-white text-left">
                        {% autoescape false %}
                        {% for _h in header3 %}
                          <span class="header3">{{_h.content|removeP}}</span>
                        {% endfor %}
                        {% endautoescape %}
                        {% if stockimage %}
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-2" style="margin-top: 45px">
                                {% set _tmp = stockimage|optimizeImage %}
                                {% set _tmp = "/img/" + _tmp %}
                                <img src="{{_tmp|cdn(__production)}}">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        {% include 'form-header.swig.html' ignore missing %}
                    </div>
                </div>

                <div class="hero-unit">

                </div>
            </div>
        </div>

    </section>
    {% endif %}

    {% for block in blocks %}
    {% set block_template = "block" %}
    {% if block.template %}
    {% set block_template += "-" %}
    {% set block_template += block.template %}
    {% endif %}

    {% set block_template += ".swig.html" %}
    {% include block_template ignore missing %}
    {% endfor %}


    {% include 'footer.swig.html' ignore missing %}

</div>

{% for script in vendor.javascript %}
{% if script.relative %}
{% set _tmp = "/" + script.relative %}
<script src="{{_tmp|cdn(__production)}}"></script>
{% endif %}
{% if script.abs %}
<script src="{{script.abs}}"></script>
{% endif %}
{% endfor %}

{% for script in riot_files %}
{% set _tmp = "/js/" + script.relative %}
<script src="{{_tmp|hashName(__production)|cdn(__production)}}"></script>
{% endfor %}

{% include 'callback-modal.swig.html' ignore missing %}
{% include 'spasibo-modal.swig.html' ignore missing %}
{% include 'gallery-item-modal.swig.html' ignore missing %}
{% include 'gallery-title-modal.swig.html' ignore missing %}
{% include 'feedbackbox.swig.html' ignore missing %}

{% include 'footer-scripts.swig.html' ignore missing %}


</body>
</html>