{% set resizecmd = '-size 640x480' %}
{% if gallery.settings.resizecmd %}
{% set resizecmd = gallery.settings.resizecmd %}
{% endif %}

{% autoescape false %}
<div class="container">
    <div class="row">
        {% set _galleryID = 9|randomId %}
        {% for row in gallery.data %}
        {% if loop.index0 > 0 && row && row[0] && row[2] %}
        <div class="col-md-3 item-container">
            {% set _tmp = "/img/" + row[2] %}
            <a href="{{_tmp|cdn(__production)}}" data-lightbox="{{_galleryID}}" data-title="{{row[0]}}">
                {% set _tmp = row[2]|resizeImage(resizecmd) %}
                {% set _tmp = "/img/" + _tmp %}
                <div class="gallery-item" style="background-image: url('{{_tmp|cdn(__production)}}')">
                    <div class="item-caption">
                        {{gallery.settings.action}}<br/>
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endautoescape %}