<div class="modal fade" id="spasiboModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 4000;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg- vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <a type="button" href="#" class="pull-right card-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
                    <h3 class="modal-title" id="myModalLabel">Спасибо Ваша заявка получена</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <a type="button" href="#" class="btn btn-success btn-lg pull-right card-close" data-dismiss="modal" aria-label="Close">Вернуться</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>