
              <table class="table{% if table.settings.class %} {{table.settings.class}}{% endif %}">
              {% set cell_row_scip_counter = emptyArray %}
              {% for row in table.data %}
                {% set table_row_class = table.settings.classes|getTableCellInfoRange(loop.index,1) %}
                <tr {% if table_row_class %}class="{{table_row_class}}"{% endif %}>                
                {% set table_row_index = loop.index %}
                    {% set cell_scip_counter = 0 %}
                    
                    {% for item in row %}
                      {% set table_col_rowspan = table.settings.rowspan|getTableColspan(table_row_index,loop.index) %} 
                      {% if !cell_row_scip_counter[loop.index0] %}
                        {% set cell_row_scip_counter[loop.index0] = 0 %}
                      {% endif %}

                      {% if cell_scip_counter <= 0 %}
                      {% if cell_row_scip_counter[loop.index0] <= 0 %}
                          {% set table_col_colspan = table.settings.colspan|getTableColspan(table_row_index,loop.index) %}                                                     
                          {% set table_col_image = table.settings.images|getTableCellImage(table_row_index,loop.index) %}
                          {% set table_col_align = table.settings.align|getTableCellInfoRange(table_row_index,loop.index) %}
                          {% set table_col_valign = table.settings.valign|getTableCellInfoRange(table_row_index,loop.index) %}
                          {% set table_col_format = table.settings.format|getTableCellInfoRange(table_row_index,loop.index) %}
                          

                          <{% if table.settings.header == table_row_index %}th{% else %}td{% endif %} 
                          {% if table_col_colspan %}colspan="{{table_col_colspan}}"{% set cell_scip_counter = table_col_colspan %}{% endif %}
                          style="
                          {% if table_col_align %}text-align:{{table_col_align}};{% endif %}
                          {% if table_col_valign %}vertical-align:{{table_col_valign}}{% endif %}
                          "
                          {% if table_col_rowspan %}
                            rowspan="{{table_col_rowspan}}"
                            {% set cell_row_scip_counter[loop.index0] = table_col_rowspan %}
                          {% endif %}
                          >
                          
                          {% if table_col_image %}<img src="/img/{{table_col_image}}">{% endif %}
                            {% autoescape false %}{{item|formatTableCell(table_col_format)|markdown}}{% endautoescape %}
                          {% if table.settings == table_row_index %}</th>{% else %}</td>{% endif %}

                      {% endif %}
                      {% endif %}
                      {% set cell_scip_counter = cell_scip_counter-1 %}                      
                    {% endfor %}                    
                </tr>
                {% for i in cell_row_scip_counter %}
                  {% set cell_row_scip_counter[loop.index0] = cell_row_scip_counter[loop.index0]-1  %}
                {% endfor %}                
              {% endfor %}  
              </table>
