
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=latin,cyrillic);
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,300italic,400italic,500,500italic,700italic,900italic,100italic,100&subset=latin,cyrillic);

//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,400italic&subset=latin,cyrillic);

@import "font-awesome-4.4.0/font-awesome";

@import 'bootstrap/variables';
@import "includes/bootstrap";


html, body {
  font-weight: 300;
  height: 100%;
}

b, strong {
    font-weight: 400;
}

p {
  font-size: 18px;
}

 .bg-base {
    color: #ffffff;

    .lead {
      color: #eeeeee;
    }

	 h2,h3,h4,h5,h6 {
	  color: #ffffff; 
	 }

	 .columns b {
	  border-bottom: none;
	  color: #ffffff; 
	  letter-spacing: 0px;
	 }

	 .columns span {
	  color: #eeeeee;
	 }

	 .description-detail h6 {
	   color: #ffffff;
	 }
	 .plan {
	    border-color: #e67e22;
	    .price {
	    	border-bottom-color: #e67e22;
	    }
	   .btn {
	     background: #e67e22;
	   }
	   .title {
	     color: #ffffff;	 
	   }
	 }
 }

 .crew-4 .members .photo {
 	opacity: 1;
 }

 .background-right {
 	right: none;
 	left: 0;
 	img {
	 	right: none;
	 	left: 0;	
 	}
 }

 .content-uni {
  padding-top: 4em;
  padding-bottom: 4em;

  h2 {
    //font-size: 35px;
    line-height: 40px;
    color: #2c3e50;
    //font-weight: 300;
    margin: 0 0 40px;
  }

   h4 {
     text-align: center;
   }

   img {
     width: 100%;
   }

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  //padding: 4em;
 }

 .modal-header .close {
    position: initial;
}



.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.m-page-header {
  padding-top: 20px;
  text-align: left;
}

.m-page-header-white {
  color: #000000;
  h1 {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px 20px;
    margin: 0px 0px;
    font-size: 48px;
  }
  h2 {
    background: rgba(255, 224, 69, 0.95);
    padding: 20px 20px;
    margin: 0px 0px;
    font-size: 32px;
  }
}

.form-header {
  margin-top: 45px;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(255, 224, 69);
  padding: 15px 15px;
  color: black;

  .submit-button-container {
    &:before {
      width: 350px;
      height: 80px;
      position: absolute;
      top: 100%;
      right: 102%;
      content: '';
      background: url(/img/arrow.png) no-repeat;
      margin: -20px -30px 0 0px;
    }
  }

  .submit-button {
    margin-top: 10px;

  }
}

.modal-content {
  border-radius: 0px;
  border: 5px solid rgb(255, 224, 69);
}

.fade.in {
  background-color: rgba(0, 0, 0, 0.6);
}

.block-container {
  width: 100%;
}

.phone-menu {
  font-size: 24px;
  font-weight: bold;
  padding-top: 22px;
  span {
    padding-left: 5px;
    padding-right: 5px;
  }
  min-height: 80px;
  .phone-callback {
    //border: 2px solid #1b1f23;
    padding: 5px 5px;
    a {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      color: yellow;
      &:hover {
        color: orange;
      }
    }
    border-radius: 5px;
    width: 100%;
    margin: 0px 0px;
    text-align: center;
    background-color: #1b1f23;
    position: absolute;
    min-height: 20px;
    bottom: 0px;
  }
}

form {

  .form-control.error {
    border-color: red;
  }

  .error {
    color: red;
  }
}

.feedback-box {
  z-index: 53;
  background-color: #ffe045;
  //height: 228px;
  position: fixed;
  right: -305px;
  top: 200px;
  transition: all .3s;
  -webkit-transition: all .3s;
  z-index: 8;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  .feedback-box-left {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    float: left;
    //height: 237px;
    margin: 0 0 0 9px;
    //width: 40px;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
  }

  .feedback-box-right {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    margin: 3px 0px 3px 3px;
    background-color: #ffffff;
    max-width: 300px;
    width: 300px;
    height: 100%;
    padding: 10px 10px;
    h2, h3, h4 {
      text-align: center;
    }

    a {
      color: #000066;
      //font-weight: 400;
      text-decoration: underline;
    }
  }
}

.header-10-sub {
  .header3 {
    background-color: #ffffff;
    text-align: left;
    padding: 10px 25px;
    display: inline-block;
    font-size: 24px;
    color: #000000;
    font-weight: 800;

    &:first-child {
      margin-top: 45px;
    }
  }
}

@import "taiga/index";

@import "blocks/color-themes";
@import "blocks/content-list";
@import "blocks/content-titles";
@import "blocks/block-benefits";
@import "blocks/block-benefits35";
@import "blocks/block-gallery";
@import "blocks/block-content49";